@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	margin: 0;
	padding: 0;
}

#wrapper {
	max-width: 1200px;
	margin: 0 auto;
	position:relative;
}

/* Text */ 

h1 {
	margin: 0 0 1em 0;
	font-size: 2.8em;
	font-weight: 700;
}

h2 {
	margin: 0 0 .5em 0;
	font-size: 1.6em;
	font-weight: 700;
	line-height: 1.1em;
}

h3 {
	margin: 0 0 .5em 0;
	font-size: 1.3em;
	font-weight: 700;
}

h4 {
	margin: 0 0 1.5em 0;
	font-size: 1em;
	font-weight: 700;
}

p {
	margin: 0 0 1em 0;
}

a{
	color: #007eff;
}
a:visited {
	color:#65b1ff;
}

a.btn{
	font-size: 1.2em;
	text-decoration:none;
	color: #000000;
	border: 1px solid #000000;
	padding: 4px 15px;
	transition: background-color .5s;
}
a.btn:hover {
	background-color: rgba(0,0,0,.3);
}

/* Header */
header{
	height: 430px;
	background: #CBE7F2 url(./images/banner_1200.jpg) no-repeat center bottom;
	position:relative;
}

header div.main-header {
	position:absolute;
	width: 42%;
	top: 130px;
	left: 55%;	
}

header div.main-header h1{
	line-height: 1em;
	margin: 0 0 30px 0;
	color: #000000;
}

/* section - all */

section {
	padding: 0 30px;
}

section::after {
	content:'';
	display:block;
	clear:both;
}

/* section - main */

section.main-home {
	margin-top: 20px;
	margin-bottom: 30px;
	padding: 0;
}

section.main-home aside {
	width: 33%;
	float: left;
	text-align: center;
}

section.main-home .content {
	margin: 15px;
	background: no-repeat center top;
	background-size: 75px 75px;
	padding-top: 85px;
}

section.main-home aside h3 a {
	color: #000;
	text-decoration: none;
}

section.main-home aside h3 a:hover {
	text-decoration: underline;
}


section.main-home aside .content.premade-home {
	background-image:url(./images/icon_star.svg);
}

section.main-home aside .content.contact-us-home {
	background-image:url(./images/icon_marker.svg);
}
section.main-home aside .content.create-home{
	background-image:url(./images/icon_gear.svg);
}

/* section - SignUp-home */

section.SignUp-home {
	background-color: #CBE7F2;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #000000;
}

section.SignUp-home article {
	padding: 0 20px 0 515px;
	background: url(./images/SignUpHome.jpg) no-repeat 0 5px;
	min-height: 220px;
}



/* section - top-sellers-home */

section.top-sellers-home {
	background-color: #eee9d9;
	position:relative;
}

section.top-sellers-home aside {
	width: 30%;
	float:right;
	margin-right: 10px;
}

section.top-sellers-home aside .content {
	padding: 30px 30px 20px 0;
}

section.top-sellers-home aside .content img {
	display:block;
	margin-bottom: 15px;
	width: 70%;
}

section.top-sellers-home aside .content h4 {
	margin-bottom: 0;
}

section.top-sellers-home aside .content p {
	margin-bottom: .5em;
}

section.top-sellers-home aside .content a {
	display: inline-block;
	color: #cc6633;
	font-weight: 700;
}

/* section shop */

section.shop {
	background-color: #eee9d9;
	position:relative;
}

section.shop aside {
	width: 30%;
	float:right;
	margin-right: 10px;
}

section.shop aside .content {
	padding: 30px 30px 20px 0;
}

section.shop aside .content img {
	display:block;
	margin-bottom: 15px;
	width: 70%;
}

section.shop aside .content h4 {
	margin-bottom: 0;
}

section.shop aside .content p {
	margin-bottom: .5em;
}

section.shop aside .content a {
	display: inline-block;
	color: #cc6633;
	font-weight: 700;
}

/* section - news-page */

section.news-page {
	background-color:black;
	padding-top: 30px;
	padding-bottom: 30px;
	color: #fff;
}

section.news-page article {
	padding: 0 20px 0 515px;
	background: url(./images/FortniteSet.jpg) no-repeat 0 5px;
	min-height: 220px;
}


/* navigation */

nav {
	background-color: rgba(0,0,0,.65);
	position:absolute;
	top: 0px;
	left: 0px;
	padding: 50px 0 0 0;
	width: 100%;
}

nav::after {
	content:'';
	display:block;
	clear:both;
}
nav ul{
	list-style: none;
	margin:0;
	padding:0;
}

nav ul li:hover {
	background-color: #2b0306;
}

nav ul li:hover > ul {
	display:block;
}

nav ul li a {
	display:inline-block;
	color: #fff;
	padding: 10px 20px;
	text-decoration: none;
	width: 125px;
	position:relative;
}

nav ul li a:visited {
	color:#fff;
}

nav ul li a:hover {
	background-color:#6d0911;
}

nav ul ul {
	position:absolute;
	top: 100%;
	background-color:#2b0306;
	display:none;
}

nav ul ul li {
	position:relative
}

nav ul ul ul {
	left: 100%;
	top:0px;
}
/* top-level */

nav > ul {
	padding-left: 200px;
}

nav > ul > li {
	float:left;
}

nav > ul > li > a {
	width: auto;
	padding: 10px 20px 15px 20px;
}

nav a[aria-haspopup=true]::after {
	content:'';
	display:block;
	width: 0px;
	height: 0px;
	position:absolute;
	top: 16px;
	right: 15px;
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 4px solid #fff;
}

nav > ul > li > a[aria-haspopup=true]::after {
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #fff;
	left: 20px;
	right:auto;
	bottom: 6px;
	top: auto;
}

/* footer */

footer {
	font-size:.8em;
	margin: 40px;
	color:#999;
}

footer .content{
	display:inline;
}

footer a{
	margin-left: 30px;
	color: #777;
}

footer a:visited{
	color: #777;
}

footer a:hover{
	color: #000;
}

/* media queries */

@media screen and (max-width: 1000px) {
	h1{
	font-size: 2.4em;
}
 /* header */
 header div.main-header {
	left: 56%;
}
 header div.main-header h1 {
	margin-bottom:20px;
}

/* section - news */
section.news-home article {
	padding-left: 400px;
	background-size: 375px auto;
}

section.news-page article {
	padding-left: 400px;
	background-size: 375px auto;
}

}

@media screen and (max-width: 800px) {
	h1 {
	font-size: 2.2em;
}

/* header*/
header {
	height: 300px;
	background-image: url(./images/banner_825.jpg);
}

/* section - news */
section.news-home article {
	padding-left: 325px;
	background-size: 300px auto;
}


}

@media screen and (max-width: 760px) {
	h1 {
	font-size:1.8em;
}
h2 {
	font-size:1.4em;
}
h3 {
	font-size:1.1em;
}
a.btn {
	font-size:1em;
}

/*header */

header div.main-header {
	top: 140px; left: 48px;
}
/* section -main*/
section.main-home{
	margin-top: 10px;
	margin-bottom: 10px;
}
section.main-home aside div.content{
	background-size: 55px 55px;
	padding-top: 60px;
}

/*section - top sellers */
section.top-sellers-home aside div.content img {
	width: 85%;
}

/*section - shop */
section.shop aside div.content img {
	width: 85%;
}

/*navigation*/
nav {
	padding-top: 80px;
}

nav >ul {
	padding-left: 10px;
}

}

@media screen and (max-width: 625px) {
	h1 {
	font-size: 1em;
}
h3 {
	margin-bottom:0px;
}
a.btn {
	font-size: .9em;
}

/*header*/
header {
	height: 160px;
	background-image: url(./images/banner_625.jpg);
	background-position: left top;
}
header div.main-header {
	width: 300px;
	top: 85px;
	left:130px;
}

header div.main-header h1 {
	margin-bottom: 10px;
}

/*section - main*/
section.main-home aside {
	width: 100%;
	float: none;
	text-align:left
}
section.main-home aside div.content {
	margin: 8px 20px 8px 0;
	padding:5px 0px 10px 85px;
	background-size: 50px 50px;
	background-position: 20px 5px;	
}


/*section - news-home*/

section.news-home article {
	padding: 160px 20px 0px 0px;
	background-size: 300px auto;
	min-height: initial;
}

section.news-page article {
	padding: 160px 20px 0px 0px;
	background-size: 300px auto;
	min-height: initial;
}


/*section top-sellers-home*/

section.top-sellers-home aside {
	width:100%;
	float:none;
	margin: 0;
	position:relative;
}

section.top-sellers-home aside div.content {
	padding: 20px 20px 20px 150px;
}

section.top-sellers-home aside div.content p {
	font-size: .9em;
}

section.top-sellers-home aside div.content img {
	display:inline-block;
	width:125px;
	position:absolute;
	top: 30px;
	left: 0;
}

/*section shop*/

section.shop aside {
	width:100%;
	float:none;
	margin: 0;
	position:relative;
}

section.shop aside div.content {
	padding: 20px 20px 20px 150px;
}

section.shop aside div.content p {
	font-size: .9em;
}

section.shop aside div.content img {
	display:inline-block;
	width:125px;
	position:absolute;
	top: 30px;
	left: 0;
}


/*navigation*/

nav{
	position: static;
	width: auto;
	padding: 20px 15px;
	background-color:#4b0a0c;
}

nav ul,
nav ul ul,
nav ul ul ul {
	display: block; position: static;
}

nav > ul {
	padding: 0;
}

nav > ul > li {
	float:none;
	margin-top:25px;
}

nav ul li:hover {
	background: none;
}

nav ul li a {
	width: auto;
	display:block;
	margin: 8px 10px;
	padding: 8px 15px;
	border: 1px solid rgba(255,255,255,.25);
}

nav ul li a:hover {
	background-color: rgba(255,255,255,.2);
}

nav ul ul {
	background:none;
}

nav ul ul li a {
	margin-left:30px;
}

nav ul ul ul li a {
	margin-left:60px;
}

nav a [aria-haspopup=true]::after {
	display:none;
}

/*footer*/

footer div.content {
	display: block;
	margin-top: 15px;
}

footer div.content a {
	margin: 0 20px 0 0;
}
}

@media screen and (max-width: 425px) {
	/*header*/
	
	header {
	height: 110px;
	background-image: url(./images/banner_425.jpg);
}

header div.main-header {
	width:100%;
	left:0;
	top:46px;
	text-align: center;
}

header div.main-header h1 {
	font-size: 1em;
	margin-bottom: 10px;
}

header div.main-header a.btn {
	padding: 2px 30px;
	font-size: .8em;
}

header div.main-header a.btn span {
	display:none;
}

/*section top-sellers-home*/

section.top-sellers-home aside div.content {
	 padding: 140px 20px 20px 0;
}

section.top-sellers-home aside div.content img {
	width: auto;
	height: 100px;
	top: 30px;
}

section.top-sellers-home blockquote {
	margin: 10px 40px 0 20px;
}

/*footer*/
footer::after {
	content:'';
	display:block;
	clear:both;
}
footer div.content a{
	display:inline-block;
	margin:0 0 10px 0;
	float:left;
	clear:both;
}

}